<h1 style="text-align: center;">
    Welcome to Pokémon Leagues!<br>
</h1>
<h2 style="text-align: center;">
    The go-to source for managing your favorite Pokémon teams!
</h2>

<hr>
<!-- Home table with top players -->
<div>
    <table class="table table-striped table-hover table-bordered shadow rounded-2">
        <!-- home table -->
        <caption>Updated every Sunday at 10:00 AM EST</caption>
        <thead>
            <h2>
                <b>Top Pokémon this week</b>
            </h2>
            <tr>
                <th style="width: 10%;">Rank</th>
                <th>Pokémon</th>
                <th>Wins</th>
                <th>Favorite Move</th>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>Pikachu</td>
            <td>23</td>
            <td>Thunderbolt</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Squirtle</td>
            <td>21</td>
            <td>Bubble</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Bulbasaur</td>
            <td>20</td>
            <td>Vine Whip</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Diglett</td>
            <td>20</td>
            <td>Dig</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Snorlax</td>
            <td>19</td>
            <td>Body Slam</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Weezing</td>
            <td>17</td>
            <td>Sludge Bomb</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Geodude</td>
            <td>15</td>
            <td>Bulldoze</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Psyduck</td>
            <td>12</td>
            <td>Water Pulse</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Jigglypuff</td>
            <td>10</td>
            <td>Double-Edge</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Ponyta</td>
            <td>9</td>
            <td>Flame Charge</td>
        </tr>
    </table>
</div>
<hr>
<h2>
    <b>Pokémon to keep an eye on</b>
</h2>
<!-- pokemon to keep an eye on -->
<div class="container-fluid">
    <!-- Pokemon to keep an eye on content -->
    <div>
        <span class="container-fluid col-12">
            <img class="col-6" src="/img/snorlax.png" id="eyeOnPokemonImg">
            <aside id="eyeOnPokemonTxt">Snorlax seems sluggish, but they definitely put up a fight when the team is in need!<br>(Upcoming matches: Sunday, Tuesday, Wednesday)</aside>
        </span>
    </div>
    <hr>
    <div>
        <span>
            <img class="col-6" src="/img/diglett.png" id="eyeOnPokemonImg">
            <aside id="eyeOnPokemonTxt">Diglett might look timid, but the element of surprise is a strong ally for this little one!<br>(Upcoming matches: Monday, Wednesday)</aside>
        </span>
    </div>
    <hr>
    <div>
        <span>
            <img class="col-6" src="/img/psyduck.png" id="eyeOnPokemonImg">
            <aside id="eyeOnPokemonTxt">Psyduck may seem like an underdog lately, but we predict they will rise the ranks soon!<br>(Upcoming matches: Thursday, Friday, Saturday)</aside>
        </span>
    </div>
</div>