<img class="mx-auto navbar-brand" src="/img/logo.png" id="logo">
<a class="col-6" href="#home"><button class="nav-link active rounded-2 col-12" data-bs-toggle="tab" data-bs-target="#home-content">Home</button></a>
<a class="col-6" href="#teams"><button class="nav-link rounded-2 col-12" data-bs-toggle="tab" data-bs-target="#teams-content">Teams</button></a>